
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../fonts/Ubuntu.woff') format('woff');
}


@font-face {
    font-family: 'Bfont';
    src: url('../fonts/beautifuleverytime-webfont.eot');
    src: url('../fonts/beautifuleverytime-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/beautifuleverytime-webfont.woff2') format('woff2'),
         url('../fonts/beautifuleverytime-webfont.woff') format('woff'),
         url('../fonts/beautifuleverytime-webfont.ttf') format('truetype'),
         url('../fonts/beautifuleverytime-webfont.svg#beautiful_every_timeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
	margin: 0px 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}

#cr-stage {
	margin: 0px 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable ;
/*    display: block;
    margin: 0px auto;
    border: 1px solid;
	 */
}

#Navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #63b4fb;
    z-index: 1000;
}

#Life {
  /* position: absolute;*/
  width: 36px;
  height: 48px;
  top: 6px;
  left: 30px;
  background-image: url('../img/life.png');
  z-index: 0;
}

#Life:hover {
  background-position: -36px 0px;
}

.uitext {
  font-family: 'Ubuntu';
  font-size: 22px;
  top: 16px;
  height: 30px;

  position: absolute;
  width: 100px;
  z-index: 0;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Time {
  width: 200px;
}

#Score {
  width: 200px;
}

#Planes {
  top: 10px;
  width: 410px;
}

.red {
  color: #FF0000;
  font-weight: bold;
}

.green {
  color: #33FF00;

}

#EndText {
  width: 300px;
  height: 80px;
  text-align: center;
  position: absolute;
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border: 3px solid #FFFFFF;
  padding-top: 18px;
}

.bfont {
    font-family: 'Bfont', Arial, sans-serif;
}